.signin-bg {
  background-image: url("../../../public/ab1.jpg");
  /* background-size: 100vh; */
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
}
#signup {
  /* font-size: 48px; */
  /* color: black; */
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
}
